header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 30px auto 30px auto;
  position: relative;
  font-family: 'Rock Salt', cursive;;
}
button {
  border: none;
  background-color: black;
  color:  #3F729B;
  font-family: "Courier 10 Pitch";
}
button:hover {
  border: none;
  background-color: #3F729B;
  color: black;
  font-family: "Courier 10 Pitch";
  border-radius: 12px;
}
.headerTitle  {
  align-self: center;
  margin: 20px;
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 112%;
}
