<header>
    <div class="item btn1">
      <button class=" pageList" (click)="onClickHeader()">
        <img src="https://img.icons8.com/office/48/000000/double-left.png"/>
        List
      </button>
    </div>

    <div class="item headerTitle">
      <h1>{{title}}</h1>
      <p>Which place will be for you the right Space?</p>
    </div>

    <div class="item btn2">
      <button class="headerBtn pageMap">
        Map
        <img src="https://img.icons8.com/office/50/000000/double-right.png"/>
      </button>
    </div>
</header>
